html,body {
  color: #fff;
  height: 100%;
  margin: 0;
}

.wrap {
  background-image: url("http://assets.sheppard.io/bg/watercolor.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.content {
  background-color: #3e0f54;
  filter: opacity(.8);
  height: 100%;
}

.kraken {
  background-image: url("http://assets.sheppard.io/png/sheppard_ruby_kraken_600x600.png");
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  height: 600px;
  right: 0;
  width: 600px;
}